main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.badge {
    background-color: var(--Black-300);
    border: 12px;
    border-radius: 100px;
    color: white;
    display: flex;
    width: 277px;
    height: 29px;
    align-items: center;
    justify-content: center;
    color: var(--primary-light-purple);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.brand {
    margin-right: 12px;
    background-color: var(--Black-400);
    border-radius: 100px;
    padding: 0 14px;
    color: var(--primary-light-purple);
}

h1 {
    color: var(--primary-light-active);
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.retangulo {
    background-color: var(--primary-dark);
    width: 577px;
    height: 21px;
    border-radius: 4px;
    margin-top: -25px;
    z-index: -2;
}

.texto {
    max-width: 737px;
    color: var(--primary-light-purple);
    text-align: center;
    margin-top: 16px;
}

.frame {
    text-align: center;
    color: white;
    margin-top: 32px;
}

.see-job-button {
    padding: 12px 16px;
    margin-right: 24px;
}

.contact-button {
    padding: 12px 16px;
    background-color: var(--primary-darker);
    border: 1px solid var(--primary-normal);
}

.contact-button:hover {
    background-color: var(--primary-dark-hover);
}

.contact-button:active {
    background-color: var(--primary-dark-active);
}

.texto-frame {
    margin-top: 32px;
}

@media only screen and (max-width: 768px) {
    main {
        margin-top: 30px;
        height: auto;
    }

    .about-me {
        height: 100%;
    }

    h1 {
        font-size: 32px;
    }

    .retangulo {
        width: 358px;
        height: 12px;
        margin-top: -13px;
    }

    .texto {
        width: 100%;
    }

    .frame {
        margin-top: 0px;
        margin-bottom: 32px;
    }

    .frame-botoes {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    .see-job-button {
        margin: 16px;
    }

    .contact-button {
        margin: 0px 16px;
    }

    .texto-frame {
        margin: 32px auto 12px;
    }

    .copy {
        display: none;
    }
}